* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

:root {
    --link-color: #2578d2;
    --subtitle-color: #df4900;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-color: #333333;
    color: white;
}

.header-nav-list {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 1rem;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

.header-nav-link {
    color: #ffffffaa;
    text-decoration: none;
}

.header-apple-logo {
    width: 20px;
    filter: invert(0.8);
}

.main {
    display: grid;
}

.top-section {
    text-align: center;
}

.top-section-header {
    background-color: #f5f5f7;
    padding: 1rem;
}

.top-section-wrapper {
    background-image: url(./assets/iphone13-image.jpeg);
    height: 500px;
    background-size: 800px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #fbfbfd;
    padding: 1rem;

    display: grid;
    align-content: start;
    gap: 1rem;
}

.top-section .title {
    font-size: 3rem;
    font-weight: 500;
}

.top-section .subtitle {
    font-size: 1.8rem;
    font-weight: 500;
}

.top-section-nav-list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 1rem;
}

.top-section-nav-link {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    text-decoration: none;
    color: var(--link-color);
}

.se-section {
    text-align: center;
}

.se-section-wrapper {
    background-image: url(./assets/iphone-se.jpg);
    height: 500px;
    background-size: 800px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #fbfbfd;
    padding: 1rem;

    display: grid;
    align-content: start;
    gap: 1rem;
}

.se-section .title-se {
    font-size: 3rem;
    font-weight: 500;
}

.se-section .subtitle-se {
    font-size: 1.8rem;
    font-weight: 500;
}

.makbook-section {
    text-align: center;
}

.makbook-section-wrapper {
    background-image: url(./assets/makbook.jpg);
    height: 500px;
    background-size: 800px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #fbfbfd;
    padding: 1rem;

    display: grid;
    align-content: start;
    gap: 1rem;
}

.makbook-section .title-makbook {
    font-size: 3rem;
    font-weight: 500;
}

.makbook-section .subtitle-makbook {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
}

.product-grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 30vw;
    gap: 0.5rem;
}

.product-item {
    display: grid;
    justify-content: center;
    align-content: end;
    padding: 1rem 20%;
    text-align: center;
    gap: 0.6rem;

    position: relative;
}

.product-item.first {
    background: url(./assets/wwdc22.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.product-item.savings {
    background: url(./assets/savings.jpeg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #f5f5f7;
}

.product-item.iphone13 {
    background: url(./assets/iphone13.jpeg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #f5f5f7;
}

.product-item.watch {
    background: url(./assets/watch.jpeg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #f5f5f7;
}


.product-item.dark {
    color: #ffffffdd;
}

.product-item.down {
    align-content: end;
}

.product-item.up {
    align-content: start;
}

.product-item-title {
    font-size: 1.2rem;
}

.product-item-subtitle {
    font-size: 1.2rem;
    color: var(--subtitle-color);
}

.product-item-subtitle-watch {
    font-size: 0.8rem;
    color: var(--subtitle-color);
}

.product-item-text {
    font-size: 1.2rem;
}

.product-item-link {
    font-size: 1.2rem;
}

.footer {}