* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-color: #333333;
    color: white;
}

.header-nav-list {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    padding: 1rem;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

.header-nav-link {
    color: #ffffffaa;
    text-decoration: none;
}

.header-apple-logo {
    width: 20px;
    filter: invert(0.8);
}

main {
    display: grid;
}

.top-section {}

.iphone-13-section {}

.macbook-pro-section {}

.product-grid-section {


    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 0.5rem;
}

.product-item {
    border: 1px solid black;
}

.footer {}